#title{
  background: #ff4c68;
}

h1 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  color:white;
}

.container-fluid {
  padding: 3% 15% 7%;

}

body {
  font-family: "Montserrat";
}

.navbar-brand {
  font-family: "Ubuntu";
  font-weight:bold;
}

.navbar{
padding: 0 0 4.5rem;

}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat";
  font-weight:100;
  font-size:1.2rem;
}

.dwnld{
  margin: 5% 3% 5% 0;
}


.title-image{
  width:60%;
  transform:rotate(25deg);
 position: relative;
 left: 13%;


}

@media (max-width:1028px){
  .title-image{
    transform:rotate(0deg);
    left: 0;
  }
  #title{
    text-align: center;
  }
}


#features h3{
  font-family: "Montserrat";
  font-weight: 900;
  font-size:1.5rem;
}
#features p {
  color:#8f8f8f;
}
#features i{
  color:#ef8172;
  font-size: 3rem;
  margin-bottom: 1rem;
}
#features i:hover{
  color:#ff4c68;
  font-size: 3rem;
}
#features{
  text-align: center;
  margin: 7% 15% 7% 15%;
  background-color: white;


}


h2 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;

}
.timg{

  width: 10%;
  border-radius:100%;
  margin: 20px;
}


#testimonials {

text-align:center;
background-color: #ef8172;
color: white;

}

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

#press img{
width:15%;
margin: 20px 20px 50px;

}

.carousel-item{
  padding: 7% 15%;
}



#pricing{
  padding:100px;
  text-align: center;
}
.pricing-col{
  padding: 3% 2%;
}

#cta{
  background-color: #ff4c68;
padding:7% 15%;
text-align: center;
}
#cta h3{
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  color:white;
}

#footer{
  text-align: center;
  padding: 7% 15%;
}
